.play-wrap {
  position: relative;
}
.play-wrap .player {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: font-size 1s ease;
}

.play-wrap .player.active {
  display: block;
  position: absolute;
}

.play-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 80px;
    position: relative;
    height: 300px;
    display: none;
}

.control-wrap {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    display: none;
}

.container.app {
    height: 100%;
    display: flex;
    justify-content: inherit;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

.control-wrap {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    display: none;
    margin-top: -300px;
}

button {
  cursor: pointer;
}

textarea#playerinput {
    width: 800px;
}

.winner-list {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #009688;
    padding: 15px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    width: 230px;
    overflow: scroll;
}

.mask {
    display: none;
    background-color: rgba(0, 0, 0, 0.82);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 45%;
    left: 0;
    /*transform: translateY(-200%);*/
    right: 0;
    margin: 0 auto;
}

.playGame {
    font-size: 50px;
    background-color: #E91E63;
    border: 0;
    border-radius: 10%;
    padding: 2px 25px;
}

.logo-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 250px;
}

.logo-wrapper .mml {
    width: 100px;
}

.logo-wrapper .imi {
    width: 100px;
}

.container.app {
    height: 100%;
    display: flex;
    justify-content: inherit;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding-left: 230px;
    width: 100%;
}

.app {
  display: none;
}

.dataEntry form {
    max-width: 800px;
    margin: 0 auto;
}

.entry {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper .mml {
    width: 300px;
}

.player.active.currentWinner {
    font-size: 150px;
}

